<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="text/javascript" src="/static/js/jquery-1.9.0.js"></script>
<script type='text/javascript' src='/static/js/jquery-ui.js'></script>
<script type='text/javascript' src='/static/js/calendar.js'></script>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">


<title>Древлеправославный календарь (инфометр)</title>
</head>
<body>
Инфометр <b>"Древлеправославный календарь"</b> создан на основе <a href=https://github.com/vechnoe/holydate>движка</a> <a href=http://www.linkedin.com/profile/view?id=186848354&trk=endrs-viewall-profile>Максима Чернятевича</a>
Календарь создан на основе календаря РПСЦ. В данный момент сервис находится в режиме отладки, возможны сбои и перенос на другой хостинг.

<br>Для добавления инфометра, просто добавьте на свою страницу код:
<br><br>
<textarea title="Чтобы скопировать код в буфер обмена, дважды щелкните левой мышкой" readonly ondblclick="var copytxt = this.innerHTML; copytxt = copytxt.replace(eval('/&l[t];/gi'),'<').replace(eval('/&g[t];/gi'),'>');enyby_clip = new EnybyClipboard();enyby_clip.copyText(copytxt); " style =" width: 420px; height: 100px">
<div id='VICalendar'></div><script type='text/javascript' src='http://oldbeliverscalendar.pythonanywhere.com/static/js/jquery-1.9.0.js'>
<script type='text/javascript' src='http://oldbeliverscalendar.pythonanywhere.com/static/js/jquery-ui.js'></script>
</script><script type='text/javascript' src='http://oldbeliverscalendar.pythonanywhere.com/static/js/calendar.js'></script>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css"></textarea>
<br><br>

<b>Пример:</b><br>

<div id="VICalendar">
</body>
