<div style="width:400px;padding: 15px; padding-right: 5px; border: solid 1px black;height:280px; overflow-y: auto; ">
<img width = 400px height = 200px src="/static/img/1.jpg"></b></br>
<div style="color:{{weekcolor}}"><b>{{dayold}} ({{daynew}} н. ст.) {{weekday}}.  {{weekname|safe}}. {{tone}}</div></b><br>
<div >{{saints|safe}}</div><b> {{food}} {{bows}}</b> <input id = "datepicker"  type="text" style="width:150px" onchange="d=this.value; Calendar(d.substring(8,11),d.substring(5,7),d.substring(0,4),d);" value="{{udate}}">   <b><a href="http://www.vechnoe.info/">"Вечное инфо"</a></b>

